terraform/infra/.terraform.lock.hcl
terraform/infra/terraform.tfstate.backup
terraform/infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.60.0/linux_amd64/LICENSE.txt
terraform/infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.60.0/linux_amd64/terraform-provider-aws_v5.60.0_x5
